<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/Css/home.css}" rel="stylesheet"/>
    <title>Clinic</title>
</head>
<body>
<nav class="navbar navbar-expand-lg  fixed-top" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" th:href="@{/patient/home}" style="color: black">Clinic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/patient/home}" style="color: black">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/patient/login/admins}" style="color: black">Admins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/patient/login/doctor}" style="color: black">Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/patient/login/apoteker}" style="color: black">Apoteker</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
<!--                <h1 class="font-weight-light">Patient Queue Management System</h1>-->
                <div>
                    <div class="card" th:object = "${patient_id}">
                        <div class="card-body">
                            <div th:switch="${medicines}" class="container my-5">
                                <div class="col-md-10">
                                    <h2 th:case="null">No Medicine Yet!</h2>
                                    <div th:case="*">
                                        <table class="table table-striped table-responsive-md">
                                            <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Medicine</th>
                                                <th>Total (mg)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="medicine, key : ${medicines}">
                                                <td th:text="${key.count}"></td>
                                                <td th:text="${medicine.medicine}"></td>
                                                <td th:text="${medicine.total}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p class="my-5">
                                            <a th:href="@{/patient/finish-medicine/{id}(id = ${patient_id})}" class="btn btn-primary"><i
                                                    class="fas fa-user-plus ml-2">Submit</i></a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <p class="lead">Make Your Patient Become More Patient</p>-->
            </div>
        </div>
    </div>
</header>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>