<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Patient Treatment</title>
</head>
<body>

<nav class="navbar navbar-expand-lg  fixed-top" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" th:href="@{/patient/home}" style="color: black">Clinic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/patient/home}" style="color: black">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/patient/login/admins}" style="color: black">Admins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/patient/login/doctor}" style="color: black">Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/patient/login/apoteker}" style="color: black">Apoteker</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" th:object = "${doctor_id}">
    <h1>Patient Treatment</h1>
<form th:object = "${patient}" th:action="@{'/patient/add-result/'+${patient.id}+'/'+${doctor_id}}" method="post">
    <div class="form-group">
        Name : <span  th:text = "${patient.firstName}"></span> <span th:text = "${patient.lastName}"></span>
    </div>
    <div class="form-group">
        Age : <span th:text = "${patient.age}"></span>
    </div>
    <div class="form-group"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        Gender : <span th:text = "${patient.gender}"></span>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Checkup Result</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field = "*{result}" th:inline = "text">dsfsdf"</textarea>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <div th:switch="${medicines}" class="container my-5">
                    <p class="my-5">
                        <a th:href="@{'/patient/medicine/'+${patient.id}+'/'+${doctor_id}}" class="btn btn-primary"><i
                                class="fas fa-user-plus ml-2"> Add Medicine</i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No Medicine Yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Medicine</th>
                                    <th>Total (mg)</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="medicine, key : ${medicines}">
                                    <td th:text="${key.count}"></td>
                                    <td th:text="${medicine.medicine}"></td>
                                    <td th:text="${medicine.total}"></td>
                                    <td><a th:href="@{'/patient/delete-medicine/'+${patient.id}+'/'+${medicine.id}}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i>Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>